RPC_PROVIDER_CONFIGURATIONS=
DEFAULT_RPC_PROVIDER_CONFIGURATION=
HEARTBEAT_INTERVAL=
MIDDLEWARE_SECRET=
ASSOCIATED_SHORTCODES=["hyprst"]
BACKEND_URL=https://someurl.infra-stg.hyperware.ai
ENFORCE_AT_START=FALSE